#page1 .myDiv {
border: 1px solid green;
width: 200px;
}#page2 .myDiv {
border: 1px solid green;
width: 200px;
}#page3 .myDiv {
border: 1px solid green;
width: 200px;
}
#page4 .myDiv {
border: 1px solid green;
width: 200px;
}
